*,*:before,*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2? family= Archivo+Narrow:ital@1 & display=swap');
body{
    background: linear-gradient(to bottom right,#e4aaf3,#dfb4b4,#9ec3f1);  
font-family: 'Archivo Narrow', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.Container{
    width: 100%;
}
header .Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
}
header .Logo{
    margin-top: 5%;
    text-align: center;
    color:rgb(218, 113, 162);
    text-shadow: 2px 1px 0px rgb(41, 20, 35);
    font-size: 700%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline white 20px;
    font-style: oblique;
    font-family: "myfont";
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    width: 90%;
    margin: 20px auto;
}
header a{
    padding: 5px 12px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}
header .Crear-cuenta{
    display: flex;
    margin-left: 1100px;
    width: auto;
}
header .Crear-cuenta :hover{
color: blueviolet;
}
.NavBar_List.show{
    top: 65px;
}
.btn-menu{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.lineal {
    width: 100%;
    height:100%;

}
a{
    text-decoration: none;
}
main{
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.sesion ul{
    float: right;
}
.sesion ul li{
    float: left;
    color: black;
}
.navbar{
    float: left;
    display: flex;
    float: right;
    justify-content: center;
}
.NavBar_List{
    list-style: none;
    overflow: hidden;
    background-color: #9ec3f1;
}
.NavBar_Items{
    display: inline-block;
    padding: 30px;
}
.nav-item{ 
    float: left;
    display: flex;
    float: right;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 3%;
    margin-right: 5%;
}
.nav_link{
    color: black;
    display: inline-block;
    padding: 20px;
}
.nav_link:hover{
    background-color: blanchedalmond;
}
.SubMenu{
display: none;
position: absolute;

}
.NavBar_Items:hover>ul{
    display: block;
}
.SubMenu_Items{
padding: 10px;
}
.SubMenu_Items a{
    color: rgb(0, 0, 0);
}
.active{
    color: rgb(83, 108, 109);
}
.content{
    display: flex;
    margin: 4rem;
}
.article{
    width: 80%;
    padding:20px;
    margin:0 auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}
.article_content{
    align-items:center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20%;
}
button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #acb0e4;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}
.article_img{
    padding: 2%;
    height: auto;
    flex-wrap: wrap-reverse;
    justify-content:center;
}
.title{
    margin-top: 130px;
    text-align: center;
    color:black;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline rgb(116, 113, 113) ;
}
footer{
    width: 100%;
    background-color:#c0a4a4;
    color: black;
    font-weight:bold;
    margin-top: 265%;
    height: 100%;
}
footer p{
    text-align: center;
    padding: 4%;
}
main.h1{
    text-align: center;
    color: black;   
    text-shadow: 2px 1px 0px white;
    font-style: oblique;
    font-weight: bolder;
    font-family: "myfont";
    text-decoration: none;
}
.row{
    width: 100%;
    position: relative;
    padding: 10px;
    text-align: center; 
    font-family: "myfonts";
    font-weight: bold;
    color: black;
}
.Procedencia
{
    background-color: white;
    height: 25px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    text-align: center;
}
.input
{
    background-color: white;
    height: 25px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    text-align: center;
}
.button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.button:hover, button:focus {
    border-color: var(--hover);
    color:darkmagenta;
}
.btn{
    margin-left: 80%;
}
.button {
    background:none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
}
.contenedor{
    top: 25px;
    width: 100%;
    height: 500px;
    position: relative;
    margin: auto;
}
.contenedor h1{
    text-align: center;
    color: black;   
    text-shadow: 2px 1px 0px white;
    font-style: oblique;
    font-weight: bolder;
    font-family: "myfont";
    text-decoration: none;
}
.Acercade{
    background: linear-gradient(to bottom right,#e4aaf3,#dfb4b4);  
}
.grid-container{ 
    display:flex;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows:20% 20% 20% 20% 20%;
    flex-wrap:wrap-reverse;
    align-items: flex-end;
    width: 100%;
}
.footer2{
    margin: 0;
    padding: 12px;
    align-items: center;
    text-align: center;
    color: black;
}
@media screen and (max-width:250px){
box-sizingborder-box
header{
grid-area: header;
background:#e4aaf3;
display: flex;
justify-content: center;
height: auto;
flex-direction: column;
}
section.content{
grid-area: content;
background:#dfb4b4;
}
section.article_img{
    grid-area: article_img;
    background:#9ec3f1;
}
footer{
    grid-area: footer;
    background-color:#b49393;
    display: flex;
    justify-content: space-around;
    bottom:0%;
    height:auto;
    width:100%;
}
.footer2{
    text-align: center;
    color: black;
}
main{
    height: auto;
    width: 100%;
}
.article_img{
    padding: 2%;
    width: 100%;
    height: auto;
}
}
@media screen and (max-width:480px){
    header{
    grid-area: header;
    background:#e4aaf3;
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    }
    .footer2{
        text-align: center;
        color: black;
    }
    section.content{
    grid-area: content;
    background:#dfb4b4;
    }
    section.article_img{
        grid-area: article_img;
        background:#9ec3f1;
    }
    footer{
        grid-area: footer;
        background-color:#b49393;
        display: flex;
        justify-content: space-around;
        left:0%;
        bottom:0%;
        height:auto;
        width:10%;
    }
    main{
        height: auto;
        width: 100%;
    }
    .article_img{
        padding: 2%;
        width: 100%;
        height: auto;
    }
    }
    @media screen and (max-width:720px){
        box-sizingborder-box
        header{
        grid-area: header;
        background:#e4aaf3;
        display: flex;
        justify-content: center;
        height: auto;
        flex-direction: column;
        }
        .btn-menu{
            display: inline-flex;
            width: 20%;
            height: 80%;
            z-index: 2;
            margin-left: 5%;
            margin-top: -70%;
            padding: 20px;
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 25px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .NavBar_List{
            display:block;
            z-index: 1;
            width: auto;
            height: 100%;
            transition: all .4s;
            text-align: center;
            flex-direction: column;
            margin-left: auto;
            margin-top: 0%;
            padding-top: 25px;
            position: fixed;
        }
        header nav ul li{
            display: block;
            float: left;
            border-bottom:1px solid rgb(122, 88, 113);
        }
        .footer2{
            text-align: center;
            color: black;
        }
        section.content{
        grid-area: content;
        background:#dfb4b4;
        }
        section.article_img{
            grid-area: article_img;
            background:#9ec3f1;
        }
        footer{
            grid-area: footer;
            background-color:#b49393;
            display: flex;
            justify-content: space-around;
            left:0%;
            bottom:0%;
            height:auto;
            width:100%;
        }
        main{
            height: auto;
            width: 100%;
        }
        .article_img{
            padding: 2%;
            width: 100%;
            height: auto;
        }
        }
        @media screen and (max-width:1020px){
            box-sizingborder-box
            header{
            grid-area: header;
            background:#e4aaf3;
            display: flex;
            justify-content: center;
            }
            .footer2{
                text-align: center;
                color: black;
            }
            section.content{
            grid-area: content;
            background:#dfb4b4;
            }
            section.article_img{
                grid-area: article_img;
                background:#9ec3f1;
            }
            footer{
                grid-area: footer;
                background-color:#b49393;
                display: flex;
                justify-content: space-around;
                left:0%;
                bottom:0%;
                height:30%;
                width:100%;
            }
            main{
                min-height: 100%;
                width: 100%;
            }
            .article_img{
                padding: 2%;
                width: 100%;
                height: auto;
            }
            }